.container{
	width: 80%;
	margin: auto;
}

p{
	line-height: 1.4rem;
}

header div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Styling to the link with button appearance that goes to the calculator page */
.image-button{
	padding: 10px 16px;
	border-radius: 25px;
	background-color: coral;
	margin-right: 5px;
	margin-left: 25px;
}

.image-button:hover{
	background-color: rgb(255, 103, 48);
}

.content{
	display: flex;
	margin-top: 50px;
}

article{
	width: 70%;
}

section{
	margin-bottom: 30px;
	padding-right: 30px;
}

section p{
	margin-top: 10px;
}

sidebar{
	width: 30%;
}

.box{
	padding: 10px;
	background-color: white;
	border: 1px solid rgb(212, 212, 255);
}

.box p{
	margin: 10px 0;
}

.more-info h3{
	margin-bottom: 13px;
}

.more-info ul{
	margin: 10px 0;
	list-style-type: none;
}

li{
	margin-bottom: 7px;
}

@media (max-width: 800px){
	header h1{
		font-size: 2rem;
	}
	.content{
		flex-direction: column;
	}
	article, sidebar{
		width: 100%;
	}
}