*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	margin-left: auto;
	margin-right: auto;
}

header{
	border-bottom: 1px solid gainsboro;
}

header h1{
	font-size: 2.5rem;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
	font-family: Tahoma;
	font-weight: normal;
}

#main-content{
	max-width: 850px;
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
	border: 1px solid yellow;
}

form, table{
}

form{
	margin-right: 10%;
	width: 55%;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.entry-group{
	display: flex;
	width: 100%;
}

input[type="text"]{
	padding: 13px 7px;
	font-size: 1.3rem;
	margin-right: 5px;
	width: 80%;
}

select{
	font-size: 1.2rem;
	padding: 0;
}

input[type="button"]{
	width: fit-content;
	font-size: 1.2rem;
	padding: 10px 10px;
}

table{
	width: 35%;
	height: 30vh;
	font-size: 1.25rem;
	font-family: Arial, Helvetica, sans-serif;
}

td{
	padding: 0 10px;
	border: 1px solid gainsboro;
}

td:nth-child(even){
	text-align: right;
}

#result{
	margin-top: 50px;
	text-align: center;
	display: none;
}

section p{
	margin-top: 70px;
	margin-bottom: 70px;
	text-align: center;
	font-size: 1.1rem;
	word-spacing: 2px;
}

footer{
	margin-bottom: 50px;
	text-align: center;
}

footer h2{
	font-weight: 500;
	margin-bottom: 10px;
}

@media (max-width: 1050px){
	.container{
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media (max-width: 925px){
	#main-content{
		flex-direction: column;
		height: 67vh;
		align-items: flex-start;
	}
	form{
		width:100%;
	}
	.entry-group{
		width: 100%;
	}
	table{
		margin-bottom: 0;
		width: 350px;
	}
}

@media (max-width: 460px){
	table{
		width: 100%;
	}
}

@media (max-width: 350px){
	.container{
		margin-left: 5%;
		margin-right: 5%;
	}
	input[type="button"]{
		padding: 10px 5px;
		font-size: 1.2rem;
	}
}