*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container{
	width: 70%;
	margin: auto;
}

main{
	padding-top: 100px
}

@media screen and (max-width: 900px){

	.container{
		width: 40%;
		margin-left: 25%;
		margin-right: 35%;
	}
	
	main{
		flex-direction: column;
		height: 500px;
		padding-top: 50px;
	}
}

header{
	padding-top: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid gainsboro;
}

main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

form{
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 300px;
	justify-content: space-between;
	border: 1px solid;
}

input[type="text"]{
	padding: 10px 0px 5px 5px;
	font-size: 1.1rem;
}

select{
	padding: 10px 0px 5px 5px;
	font-size: 1.05rem;
}

input[type="button"]{
	font-size: 1.05rem;
	padding: 7px 0px;
	width: 40%;
}

table{
	border: 1px solid;
	width: 300px;
}

